<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">MovieChat</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/movie/{{OMDBId}}">{{movieName}}</a>
            </li>
             <li class="nav-item">
                <a class="nav-link" href="/view/{{partyId}}">{{roomName}}</a>
            </li>
        </ul>
    </div>
</nav>
<ul id="messages">
    {{#each chats}}
    <li>{{this.dataValues.body}}</li>
    {{/each}}
</ul>
<form id="form" action="">
    <input id="input" autocomplete="off" /><button>Send</button>
</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="/socket.io/socket.io.js"></script>

<script src="/assets/viewPartyScript.js"></script>